--- freebsd/cfg_template/maia.conf.tmpl.orig	2025-11-13 00:11:57 UTC
+++ freebsd/cfg_template/maia.conf.tmpl
@@ -47,7 +47,7 @@ $preserve_case = 0;
 # The directory where SpamAssassin's local.cf file can be found.
 #$local_cf_dir = '/etc/mail/spamassassin';
 #$local_cf_dir = '/etc/spamassassin';
-$local_cf_dir = '/var/db/spamassassin';  # default: let the script find it
+$local_cf_dir = '/usr/local/etc/mail/spamassassin';  # default: let the script find it
 
 # The directory where SpamAssassin's core rules can be found.
 # If you wish to specify the directory yourself, you can use the 
@@ -57,7 +57,6 @@ $system_rules_dir = undef;  # default: let the script 
 $system_rules_dir = undef;  # default: let the script find it
 
 # The directory where your amavis user's user_prefs file can be found.
-$user_rules_dir = '/usr/local/share/maia-mailguard/.spamassassin';
 #$user_rules_dur = '~/.spamassassin';
 $user_rules_dir = '/var/maiad/.spamassassin';  # default: let the script find it
 
@@ -66,7 +65,7 @@ $user_rules_dir = '/var/maiad/.spamassassin';  # defau
 
 # Location to write the lock/PID files (must be writeable by your
 # amavis user)
-$pid_dir = '/var/run/maia/';
+$pid_dir = '/var/run/maiad/';
 
 # Set the level of detail that should be logged
 # Valid settings: 0 or 'none'
@@ -86,7 +85,7 @@ $pq_log_level = 'info';
 #$log_dir = '/dev/null';  # no logging, implies $log_level=0
 #$log_dir = 'console';    # log to console (i.e. STDOUT)
 
-$log_dir = '/var/log/maia';
+$log_dir = '/var/log/maiad';
 
 # Number of worker threads to start in parallel
 # Consider the number of available processing cores,
@@ -158,7 +157,7 @@ $base_url = 'http://example.com/';
 $base_url = 'http://example.com/';
 
 # Template directory
-$template_dir = '/usr/local/etc/maia-mailguard/templates/';
+$template_dir = '/usr/local/www/maia-mailguard/templates';
 
 # How you want the digest sorted (choose one per cache type)
 # (note: non spam/ham caches don't have score to sort by)
