--- freebsd/cfg_template/config.php.tmpl.orig	2025-11-13 00:11:57 UTC
+++ freebsd/cfg_template/config.php.tmpl
@@ -162,14 +162,14 @@
   // do is specify the name of the font without the extension. Leaving it blank
   // seems to pick a default font.

-	$chart_font = '';
-	// $chart_font = 'coolveti';
+    $chart_font = '';
+    // $chart_font = 'coolveti';

-	// Optional Smarty include path.  The usual location for Smarty template libs is in the "Smarty/" folder
-	// under the default include path or in libs/Smarty/, but some distros such as Debian
-	// tend to come up with other ideas.
-	// $smarty_path = "/usr/share/php/smarty/libs";
-	$smarty_path = "/usr/local/share/php/Smarty";
+    // Optional Smarty include path.  The usual location for Smarty template libs is in the "Smarty/" folder
+    // under the default include path or in libs/Smarty/, but some distros such as Debian
+    // tend to come up with other ideas.
+    // $smarty_path = "/usr/share/php/smarty/libs";
+    $smarty_path = "/usr/local/www/maia-mailguard/libs/Smarty";

     // The format your mail server uses to rewrite your e-mail address
     // when it receives it from your MTA-RX.  Some mail servers handle
